@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
}

#root {
  background: {
    color: rgb(238, 238, 238);
    image: url("../logo-bg.svg");
    size: 50px 50px;
    repeat: repeat;
  }
  animation: animateBG 1s linear infinite;
}

@keyframes animateBG {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: -10px 10px;
  }
  100% {
    background-position: -50px 0px;
  }
}

#comming-soon {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: #04ac9b;
    font-family: "Noto Sans JP", sans-serif;
  }

  svg {
    width: 400px;
    height: 420px;
    .svg-style1 {
      fill: #ffa759;
    }

    .svg-style2 {
      fill: #e8ba5f;
    }

    .svg-style3 {
      fill: #d4bfff;
    }

    .svg-style4 {
      fill: #f07178;
    }

    .svg-style5 {
      fill: #f9c764;
    }
    .svg-style6 {
      fill: #bae67e;
    }
    .svg-style7 {
      fill: #f13e80;
    }
    .svg-style8 {
      fill: #b3b1ad;
    }
  }
}

#comming-soon-characters {
  path {
    animation: blink 100ms linear forwards;
    opacity: 0;
    @for $var from 1 to 100 {
      &:nth-child(#{$var}) {
        animation-delay: 100ms * $var;
        animation-delay: 100ms * $var;
      }
    }
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
