$radius: 5px;
$primaryColor: #04ac9b;
$black: darken($primaryColor, 30);
$secondaryColor: #ab3903;
$white: lighten($secondaryColor, 67);
$mutedColor: #aaa7a5;
$statusSize: 12px;
$navWidth: 300px;
$connectedStatusColor: #059229;
$disconnectedStatusColor: #e71212;
$busyStatusColor: #c4b81b;
$defaultTransition: 300ms ease-in-out;
$border: 1px solid rgba($mutedColor, 0.3);
$lvl1: 3rem;
$lvl2: 2rem;
$lvl3: 1.5rem;
$lvl4: 1rem;
$mutedTextColor: darken($mutedColor, 25);
$lvl5: 0.7rem;
$messageShadow: 1px 1px 2px #dfe1e8;
$messageShadowHover: 1px 1px 5px #8f93a1;
$icons: "copy", "image", "film", "music", "archive", "file", "link";

$zDropDown: 100;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  $color: #f1f1f1;
  &:hover {
    background: $color;
  }
  background: rgba($color, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  $color: #555;
  border-radius: 4px;
  background: rgba($color, 0.5);
  &:hover {
    background: $color;
  }
}

/* Handle on hover */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
$fontFamily: "Noto Sans JP", sans-serif;

:root {
  font-size: 16px;
  color: $black;
  font-family: $fontFamily;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  &:hover {
    .dropdown-menue {
      display: block;
    }
  }
  .toogler:focus + .dropdown-menue {
    display: block;
  }

  .toogler:active + .dropdown-menue {
    display: block;
  }
  .toogler:hover + .dropdown-menue {
    display: block;
  }
  .dropdown-menue {
    text-align: center;
    z-index: $zDropDown;
    display: none;
    position: absolute;
    background: #fff;
    border: $border;
    border-radius: 5px;
    box-shadow: $messageShadowHover;
    bottom: 0px;
    left: 100%;
    font-size: 1rem;

    a,
    button {
      display: block;
      width: auto;
      height: auto;
      padding: 0.5em 2em;
      font-size: inherit;
      color: $primaryColor;
      border-radius: 0px;
      &:hover {
        text-decoration: underline;
        background: rgba($primaryColor, 0.1);
      }
    }
  }
}

html,
body,
#root {
  background: $white;
  width: 100vw;
  height: 100vh;
}

#root {
  background: $white;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

button,
a {
  cursor: pointer;
}

#wrapper {
  display: flex;
  border-radius: 1rem;
  border: none;
  border-left: $border;
  width: 100%;
}

aside {
  background: $white;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    button,
    a {
      border-radius: $radius;
      font-size: 1.2em;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      color: $mutedColor;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        background: rgba($primaryColor, 0.4);
        color: darken($primaryColor, 5);
      }
      &.active {
        color: rgb(255, 255, 255);
        background: $primaryColor;
      }

      &.logo {
        padding: 0px;
        border-radius: $radius;
        width: calc(3rem - 10px);
        height: calc(3rem - 10px);
        border-radius: 50%;
        cursor: pointer;
        box-sizing: content-box;
        border: 5px solid transparent;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }

        &:hover {
          background: transparent;
          border: $border;
          border-width: 5px;
        }
      }
    }
  }
}

a {
  color: $primaryColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  padding: 0.5em 1.25em;
  border-radius: 0.5em;
  color: $mutedColor;
  background: lighten($mutedColor, 25);
  // font-size: 0.5em;
  // font-size: 0.5em;
  &:hover {
    background: lighten($mutedColor, 28);
  }

  &.is-transparent {
    background: transparent !important;
    &:hover {
      color: darken($mutedColor, 20);
      background: transparent !important;
    }
  }
  &.is-primary-light {
    background: rgba($primaryColor, 0.2);
    color: darken($primaryColor, 5);
    &:hover {
      background: rgba($primaryColor, 0.4);
      color: darken($primaryColor, 5);
    }
  }
  &.is-primary {
    background: $primaryColor !important;
    color: #fff !important;
    &:hover {
      background: darken($primaryColor, 5) !important;
      color: #fff !important;
    }
  }
}

.title {
  font-size: $lvl3;
}

header {
  button {
    min-height: $lvl1;
    min-width: $lvl1;
  }
  padding: 0px;
  display: flex;
  font-size: $lvl3;
  gap: 0.5em;
  height: 70px;
  border-bottom: $border;
  border-width: 2px;
  align-items: center;

  .title {
    line-height: $lvl3;
    white-space: nowrap;
    margin-bottom: 0px;
    width: 100%;
    transition: all $defaultTransition;
  }

  nav & {
    margin-top: 1rem;
  }
  .collapsed & {
    justify-content: center;
    gap: 0px;
    .title {
      width: 0px !important;
      opacity: 0;
    }
    .toogler {
      transform: rotate(180deg);
      width: 38px;
      height: 29px;
      display: block;
    }
  }

  main & {
    background: rgba(237, 240, 245, 0.788);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    position: absolute;
    right: 0px;
    left: 0px;
    padding: 0px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main-header-title {
      font-size: 0.8em;
      padding: 1.2rem;
    }
    .main-header-actions {
      padding: 0px 1rem;
      display: flex;
      gap: 5px;

      button {
        font-size: 0.8em;
        border-radius: 0.5em;
        background: rgba(0, 0, 0, 0);
        padding: 0.5rem 1em;
        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
        &.active {
          &:hover {
            background: rgba($connectedStatusColor, 0.5);
          }
          background: rgba($connectedStatusColor, 0.4);
          color: darken($connectedStatusColor, 5);
        }
      }
    }
  }
}

.select {
  position: relative;
  & > button {
    padding: 0.5em 3em 0.5em 1em;
    width: 100%;
    position: relative;
    border-radius: 0.5em;
    font-weight: 600;

    &::after {
      content: "\f078";
      position: absolute;
      right: 1em;
      font-family: fontawesome;
    }
  }

  & > button:focus {
    border-radius: 0.5em 0.5em 0px 0px;
  }

  & > button:focus + div {
    display: flex;
  }
  div {
    width: 100%;
    position: absolute;
    display: none;
    background: lighten($mutedColor, 30);
    flex-direction: column;
    button {
      background: transparent;
      padding: 0.5em 1em;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &.active > button {
    background: rgba($connectedStatusColor, 0.4);
    color: darken($connectedStatusColor, 5);

    &:hover {
      background: rgba($connectedStatusColor, 0.2);
      color: darken($connectedStatusColor, 5);
    }
  }

  &.inactive > button {
    background: rgba($disconnectedStatusColor, 0.4);
    color: darken($disconnectedStatusColor, 5);

    &:hover {
      background: rgba($disconnectedStatusColor, 0.2);
      color: darken($disconnectedStatusColor, 5);
    }
  }
  &.busy > button {
    background: rgba($busyStatusColor, 0.4);
    color: darken($busyStatusColor, 5);

    &:hover {
      background: rgba($busyStatusColor, 0.2);
      color: darken($busyStatusColor, 5);
    }
  }
}

nav {
  min-width: $navWidth;
  max-width: $navWidth;
  overflow: hidden;
  height: 100%;
  padding: 1rem;
  padding-top: 0px;
  padding-right: 0px;
  &.right {
    padding: 1rem;
    padding-top: 0px;
    padding-left: 0px;
  }
  transition: $defaultTransition;

  & > * {
    width: 100%;
  }

  .profile-preview {
    display: flex;
    gap: 1rem;

    flex-direction: column;
    align-items: center;
    height: calc(100% - 70px);
    width: 100%;
    position: relative;
    .settings {
      position: absolute;
      font-size: 1rem;
      background: transparent;
      right: 0px;
      top: 1em;
      color: $mutedColor;
      &:hover {
        color: darken($mutedColor, 20);
      }
    }
    .image-profile {
      transition: all 500ms ease;
      width: 150px;

      height: 150px;
      margin-top: 2rem;
      position: relative;
      img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
      }
      &::after {
        box-sizing: border-box;
        border: 2px solid white;
        content: " ";
        position: absolute;
        width: $statusSize;
        border-radius: $statusSize/2;
        height: $statusSize;
        right: 15px;
        background: $connectedStatusColor;
        top: 121px;
      }

      &.inactive {
        &::after {
          background: $disconnectedStatusColor;
        }
      }
      &.busy {
        &::after {
          background: $busyStatusColor;
        }
      }
    }
    .chat-actions-bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .sub-title {
        font-weight: 700;
        color: $mutedTextColor;
      }

      .chat-actions {
        display: flex;
        gap: 3px;
        font-size: 1.5em;
        button {
          width: 2.5em;
          padding-right: 0px;
          padding-left: 0px;
          text-align: center;
        }
      }
    }
    .list-chat {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      .list-chat-item {
        width: 100%;
        &:hover {
          background: #e2ebea;
        }
        cursor: pointer;
        display: flex;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        align-items: center;
        justify-content: space-between;
        color: $mutedTextColor;
        font-size: $lvl5;
        &.active {
          background: lighten($mutedColor, 30);
        }

        .avatar {
          width: 40px;
          height: 40px;
          position: relative;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
          &::after {
            box-sizing: border-box;
            border: 2px solid white;
            content: " ";
            position: absolute;
            width: $statusSize;
            border-radius: $statusSize/2;
            height: $statusSize;
            left: 27px;
            background: $connectedStatusColor;
            top: 27px;
          }

          &.inactive {
            &::after {
              background: $disconnectedStatusColor;
            }
          }
          &.busy {
            &::after {
              background: $busyStatusColor;
            }
          }
        }

        div {
          width: 120px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          .name {
            color: $black;
            font-size: $lvl4;
          }
          .preview {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .date {
          width: 40px;
        }
      }
    }
  }

  .info {
    display: flex;
    padding: 2rem;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: $navWidth/2;
      height: $navWidth/2;
      transition: all $defaultTransition;
      object-fit: cover;
      border-radius: 50%;
    }

    .info-title {
      font-size: $lvl3;
      line-height: $lvl3;
    }
    .info-description {
      font-size: $lvl4;
      line-height: $lvl4;
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    .item {
      display: flex;
      align-items: center;
      gap: 1rem;
      transition: $defaultTransition;
      cursor: pointer;
      padding: 0.5rem 0.5rem 0.5rem 0px;
      border-radius: 0px;
      $saturation: 100%;
      $light: 95%;
      $number: 7;
      $length: length($icons);
      @for $i from 1 through $length {
        $name: nth($icons, $i);
        &.#{$name} {
          border-radius: 10px;
          $color: hsl($i * (360 / $length), $saturation, $light);

          &:hover {
            &:after {
              color: darken($color, 60);
            }
            background: $color;

            .item-data {
              .item-title {
                color: darken($color, 60);
              }
            }
          }
          .icon {
            color: darken($color, 60);
            background: $color;
          }
        }
      }

      &:hover {
        padding: 0.5rem;
        background: rgba(0, 0, 0, 0.05);
      }

      &:after {
        content: "\f054";
        transition: $defaultTransition;
        font-family: fontawesome;
        color: $mutedColor;
      }

      .icon {
        display: flex;
        align-items: center;
        transition: $defaultTransition;
        justify-content: center;
        min-width: 40px;
        min-height: 40px;
        color: darken($mutedColor, 20);
        background: $mutedColor;
        border-radius: 10px;
      }
      .item-data {
        display: flex;
        flex-direction: column;
        width: 100%;
        .item-title {
          transition: $defaultTransition;
          font-weight: 900;
          font-size: $lvl4;
        }
        .item-description {
          font-size: $lvl5;
          color: $mutedTextColor;
        }
      }
    }
  }

  &.collapsed {
    min-width: 90px;
    max-width: 90px;
    overflow: hidden;
    height: 100%;
    padding: 0px;
    margin: 0px;
    margin-right: -1rem;
    &.right {
      margin: 0px;
      margin-left: -1rem;
    }

    .info {
      display: flex;
      padding: 2rem;
      gap: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
      .info-title {
        display: none;
      }
      .info-description {
        display: none;
      }
    }

    .items {
      .item {
        justify-content: center;
        padding: 0.5rem;
        &:hover {
          padding: 0.5rem;
          background: transparent !important;
        }
        .icon {
          &:hover {
            transform: translateX(0.5rem);
          }
        }

        &:after {
          display: none;
        }

        .item-data {
          display: none;
        }
      }
    }

    .profile-preview {
      .settings {
        display: none;
      }
      .image-profile {
        width: 40px;
        height: 40px;

        img {
          width: 40px;
          height: 40px;
        }
        &::after {
          right: 1px;
          top: 27px;
        }
      }
      .title {
        display: none;
      }
      .select {
        display: none;
      }
      .search {
        display: none;
      }

      .chat-actions-bar {
        display: none;
      }
      .list-chat {
        .list-chat-item {
          width: 100%;
          justify-content: center;

          .avatar {
            display: block !important;
          }

          div {
            display: none;
          }

          .date {
            display: none;
          }
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 1rem;
  width: 100%;
  background: #edf0f5;
  overflow: hidden;
  border-radius: 1em;
  position: relative;

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding: 1rem;
    z-index: 4;
    padding-top: 80px;
    margin-bottom: 70px;

    .message-wrapper {
      margin: 1em 0px;
      display: flex;
      flex-direction: column;
      &.me {
        .message-data {
          align-self: flex-end;

          .message-avatar {
            display: none;
          }
          .message-content {
            .message-content-text {
              background: #d0d3e3;
              &:last-of-type {
                &:before {
                  display: none;
                }
                &:after {
                  position: absolute;
                  content: "";
                  bottom: 0px;
                  z-index: 7;
                  right: -0.5em;
                  border: 15px transparent solid;
                  border-bottom: 15px solid #d0d3e3;
                }
              }
            }
          }
        }
      }
      &:hover {
        .message-info {
          opacity: 1;
          transform: translateY(0px);
        }
      }
      .message-info {
        font-size: 0.7em;
        text-align: center;
        z-index: 5;
        position: relative;
        transition: $defaultTransition;
        transform: translateY(1em);
        opacity: 0;
      }
      .message-data {
        position: relative;
        z-index: 6;
        display: flex;
        gap: 1em;
        align-items: flex-end;
        .message-avatar {
          width: 40px;
          height: 40px;
          border: 5px solid #ffffff;
          border-radius: 20px;
        }
        .message-content {
          font-size: 0.9em;
          .message-content-text {
            &:hover {
              filter: drop-shadow($messageShadowHover);
              z-index: 8;
            }
            margin-top: 0.5em;
            padding: 1em;
            background: #ffffff;
            border-radius: 0.5rem;
            transition: filter $defaultTransition;
            filter: drop-shadow($messageShadow);
            z-index: 7;
            &:last-of-type {
              position: relative;
              &:before {
                position: absolute;
                content: "";
                bottom: 0px;
                left: -0.5em;
                border: 15px transparent solid;
                border-bottom: 15px solid #ffffff;
              }
            }
            .message-content-attachement {
              margin-top: 1em;
              display: flex;
              border: 1px solid rgb(228, 228, 228);
              border-radius: 0.5em;
              background: #fff;
              & > span {
                padding: 0.5em;
                width: 100%;
                span {
                  margin-left: 10px;
                }
              }
              button {
                transition: $defaultTransition;
                padding: 0em 1em;
                border-radius: 0px 0.5em 0.5em 0px;
                border-left: 1px solid rgb(228, 228, 228);
                background: #fff;
                &:hover {
                  background: $primaryColor;
                }
              }
            }
          }
        }
      }
    }

    .is-writing {
      // position: absolute;
      margin-bottom: 10px;
      bottom: 75px;
      display: flex;
      align-items: center;
      gap: 1em;
      .is-writing-icon {
        width: 35px;
        height: 35px;
        background-color: #ffffff;
        border-radius: 25px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          width: 5px;
          height: 5px;
          background: lighten($mutedTextColor, 20);
          animation: bounce 0.5s linear infinite alternate-reverse;
          border-radius: 50%;
          &:first-of-type {
            background: $mutedTextColor;
            animation-delay: -200ms;
          }
          &:last-of-type {
            animation-delay: 200ms;
            background: $mutedTextColor;
          }
        }
      }
      span {
        font-size: 0.8rem;
      }
    }
  }

  .new-message {
    position: absolute;
    filter: drop-shadow($messageShadowHover);
    right: 1em;
    left: 1em;
    bottom: 1em;
    height: 3rem;
    display: flex;
    textarea {
      width: 100%;
      resize: none;
      padding: 1rem;
      line-height: 1rem;
      font-size: 1rem;
      font-family: $fontFamily;
      border-radius: 0.5rem 0px 0px 0.5rem;
      &:active,
      &:focus {
        border-radius: 0.5rem 0px 0px 0.5rem;
        outline: none;
      }
    }
    //       <textarea placeholder='Whrite your message ...'></textarea>
    .new-message-actions {
      border-radius: 0px 0.5rem 0.5rem 0px;
      display: flex;
      background: #fff;
      gap: 5px;
      padding: 5px;
      button {
        width: calc(3rem - 10px);
        height: calc(3rem - 10px);
        padding: 0.5rem !important;
        color: rgba($mutedColor, 0.8);
        transition: $defaultTransition;
        background: transparent;
        font-size: 0.9em !important;
        text-align: center;

        &:hover {
          color: $mutedTextColor;
        }
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(3px);
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 0.75em 1em;
  background: lighten($mutedColor, 30);
  border: 2px solid lighten($mutedColor, 10);
  box-shadow: 0px 0px 0px rgba($black, 0.1);
  border-radius: 1em;
  width: 100%;
  transition: $defaultTransition;
  &:focus {
    border: 2px solid $primaryColor;
    background: lighten($mutedColor, 50);
    outline: none;
  }
  &:active {
    border: 2px solid $primaryColor;
    outline: none;
  }
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  text-transform: capitalize;
  font-family: $fontFamily;
}

.progress-container {
  display: flex;
  gap: 1rem;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  color: darken($mutedTextColor, 20);
  box-shadow: $messageShadowHover;
  margin: 1rem 0px;
  align-items: center;
  .progress-value {
    &:after {
      content: "%";
    }
  }

  progress {
    height: 4px;
    border-radius: 3px;
    width: 100%;
    background: lighten($mutedColor, 20);
    &::-moz-progress-bar {
      border-radius: 3px;
      background: $primaryColor;
    }
    &::-webkit-progress-value {
      border-radius: 3px;
      background: $primaryColor;
    }
    &::-webkit-progress-bar {
      border-radius: 3px;
      background: lighten($mutedColor, 20);
    }
  }
  button {
    display: block;
    color: $mutedColor;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
    height: 40px;
    min-height: 40px;
    transition: $defaultTransition;
    &.is-dark {
      color: lighten($mutedTextColor, 15);
      background: lighten($mutedTextColor, 40);
      &:hover {
        background: lighten($mutedTextColor, 45);
      }
    }
    &.is-danger {
      color: lighten($disconnectedStatusColor, 15);
      background: lighten($disconnectedStatusColor, 40);
      &:hover {
        background: lighten($disconnectedStatusColor, 45);
      }
    }
  }
}

.w-100 {
  width: 100%;
}

.auth-container {
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: {
    color: rgb(238, 238, 238);
    image: url("../logo-bg.svg");
    size: 50px 50px;
    repeat: repeat;
  }

  animation: animateBG 1s linear infinite;

  align-items: center;
  .auth-container-card {
    border-radius: 1rem;
    background: #fff;
    box-shadow: $messageShadowHover;
    width: 500px;
    border: $border;
    display: flex;
    flex-direction: column;
    .auth-container-card-header {
      padding: 1rem;
      padding-bottom: 2rem;
      text-align: center;

      img {
        width: 100px;
        height: 100px;
      }
      h1 {
        font-size: $lvl3;
      }
    }
    .auth-container-card-body {
      padding: 1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .btn {
        font-size: 1em;
      }
    }
    .auth-container-card-footer {
      border-top: 1px solid $primaryColor;
      display: flex;
      a {
        padding: 1rem;
        text-align: center;
        flex-grow: 1;
      }
    }
  }
}

.text-muted {
  color: $mutedTextColor;
}

@media screen and (max-width: 1000px) {
  nav.right {
    min-width: 70px;
    max-width: 70px;
    padding: 0px;
    margin: 0px;
    margin-left: -1rem;

    header {
      display: none;
    }

    & > * {
      width: 100%;
    }

    .info {
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
      .info-title {
        display: none;
      }
      .info-description {
        display: none;
      }
    }

    .items {
      .item {
        justify-content: center;
        padding: 0.5rem;
        &:hover {
          padding: 0.5rem;
          background: transparent !important;
        }
        .icon {
          &:hover {
            transform: translateX(0.5rem);
          }
        }

        &:after {
          display: none;
        }

        .item-data {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  $collapsedNav: 48px;
  #wrapper {
    flex-direction: column;
    max-width: calc(100vw - #{$collapsedNav} - 1rem);
    min-width: calc(100vw - #{$collapsedNav} - 1rem);
  }

  nav {
    max-width: 100%;
    min-width: 100%;
    min-height: calc(#{$collapsedNav} + 2rem);
    max-height: calc(#{$collapsedNav} + 2rem);
    header {
      display: none;
    }
    overflow: auto;
    margin: 0px;
    padding: 1rem;
    &.right {
      padding: 1rem;
      margin: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;
      min-width: 100%;
      min-height: calc(#{$collapsedNav} + 2rem);
      max-height: calc(#{$collapsedNav} + 2rem);
    }

    & > * {
      width: 100%;
    }

    .profile-preview {
      display: flex;
      gap: 1rem;

      & > * {
        display: none !important;
      }

      flex-direction: row;
      align-items: center;
      height: 100%;
      width: 100%;

      .image-profile {
        display: block !important;
        transition: all 500ms ease;
        width: $collapsedNav;
        height: $collapsedNav;
        margin-top: 0px;
        position: relative;
        img {
          width: $collapsedNav;
          height: $collapsedNav;
          border-radius: 75px;
        }
        &::after {
          left: 35px;
          top: 35px;
        }
      }

      .list-chat {
        display: flex !important;
        flex-direction: row;
        height: 100%;
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        .list-chat-item {
          width: $collapsedNav;
          height: $collapsedNav;
          padding: 4px;
          &.active {
            background: lighten($mutedColor, 20);
          }

          .avatar {
            display: block;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }
          div {
            display: none;
          }
          .date {
            display: none;
          }
        }
      }
    }

    .info {
      display: flex;
      gap: 0rem;
      padding: 0.5rem;
      min-width: 48px;
      max-width: 48px;
      min-height: 48px;
      max-height: 48px;
      img {
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        max-height: 40px;
        transition: all $defaultTransition;
        object-fit: cover;
        border-radius: 50%;
      }

      .info-title {
        display: none;
      }
      .info-description {
        display: none;
      }
    }

    .items {
      display: flex;
      padding: 0px;
      flex-direction: row;
      justify-content: flex-end;
      .item {
        .icon {
          &:hover {
            transform: translateY(-0.5rem) !important;
          }
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px 1rem;
    max-width: calc(100% - 2rem);
    min-width: calc(100% - 2rem);
    background: #edf0f5;
    overflow: hidden;
    border-radius: 1em;
    position: relative;

    .wrapper {
      height: 100%;
    }
  }

  .progress-container {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0px;

    button {
      width: 30px;
      min-width: 30px;
      height: 30px;
      min-height: 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  #root {
    flex-direction: column;
  }

  aside {
    padding: 0.5rem;
    height: 48px;
    flex-direction: row;
    & > div {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      button,
      a {
        width: 2rem;
        height: 2rem;

        &.logo {
          width: 2rem;
          height: 2rem;
          box-sizing: border-box;
          border: none;
          &:hover {
            border: none;
          }
        }
      }
    }

    .dropdown {
      .dropdown-menue {
        top: 100%;
        bottom: auto;
        left: auto;
        right: 0px;
      }
    }
  }

  #wrapper {
    height: calc(100vh - 48px);
    border: none;
    border-radius: 0px;
    border-top: $border;
    max-width: 100vw;
    min-width: 100vw;
    overflow: hidden;
  }
}

@keyframes animateBG {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: -10px 10px;
  }
  100% {
    background-position: -50px 0px;
  }
}
